.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box .logo{
    font-size: 1.7rem;
    color:#333;
}

.footer .box-container .box i{
    color:var(--blue);
}

.footer .box-container .box p{
    font-size: 1rem;
    padding:0.4rem 0;
    color:#666;
}

.footer .box-container .box h3{
    font-size: 1.5rem;
    color:var(--blue);
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:nth-child(2) a{
    display: block;
    font-size: 1rem;
    padding:.3rem 0;
    color:#666;
    text-decoration: none;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    width: 85%;
    margin:0 auto;
    padding:1.4rem 0;
    border-top: .1rem solid rgba(0,0,0,.3);
    color:#666;
    font-size: 1rem;

    padding-bottom: 5rem;

}

.footer .credit span{
    color:var(--blue);
}